<%= render  partial: 'exam_management_left' %>
<% navigation_add 'Examination Marks List', exam_management_examination_marks_sheet_details_path %>

<h4 class="mg-h4"><%=t('examination_marks_evaluation_details')%></h4>

<table border="1" class="mg-tbl-layout mg-showdata-bg mg-show-tbl-width" cellspacing="1" cellpadding="1">
<%
examination_detail=MgExaminationDetail.find_by(:id=>@marks_data_show.mg_examination_detail_id)
course_data=MgCourse.find_by(:id=>@marks_data_show.mg_course_id)
wing_data=MgWing.find_by(:id=>@marks_data_show.mg_wing_id)
subject_data=MgSubject.find_by(:id=>@marks_data_show.mg_subject_id)

%>
   <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label"> <%= t('exam')%></label>
     </td>

     <td class="mg-td-width-half mg-label-inner-form" valign="top">
     
     
     <%=examination_detail.try(:name)%>
     
     </td>
 </tr>
 <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label mg-label-text-transform-none"> <%= t('marks_evaluation_date')%></label>
     </td>
     <td class="mg-td-width-half mg-label-inner-form" valign="top">
     <% @timeformat=MgSchool.find(session[:current_user_school_id])%>
     
      <%= @marks_data_show.date_of_marks_entry.strftime(@timeformat.date_format) %>
    
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label mg-label-text-transform-none"> <%= t('programme')%></label>
     </td>
     <td class="mg-td-width-half mg-label-inner-form" valign="top">
    
      <%= wing_data.try(:wing_name)%>
    
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label mg-label-text-transform-none"> <%= t('semester')%></label>
     </td>
     <td class="mg-td-width-half mg-label-inner-form" valign="top">
    
     
      <%= course_data.try(:course_name) %>
      
    
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label mg-label-text-transform-none"> <%= t('subject')%></label>
     </td>
     <td class="mg-td-width-half mg-label-inner-form" valign="top">
     
     
      <%= subject_data.try(:subject_name) %>
     
    
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
     <label class="mg-label mg-label-text-transform-none"> <%= t('max_marks')%></label>
     </td>
     <td class="mg-td-width-half mg-label-inner-form" valign="top">
     
     
      <%= @marks_data_show.try(:max_marks) %>
     
    
     </td>
 </tr>
 
 
 
 </table><br>
 
 
 <div class="mg-scroll-employee-bar">
<table border="1" class="mg-table-nowrap mg-showdata-bg mg-show-tbl-width" cellspacing="1" cellpadding="1">
 
<tr>
<th><label class="mg-label"> <%= t('student_id')%></label> </th>

<th><label class="mg-label"> <%= t('student_name')%></label> </th>
<th> <label class="mg-label"> <%= t('marks_obtained')%></label>
<!-- <th><label class="mg-label"> <%#= t('grade')%></label> </th> -->

</tr>
<%@student_marks_data.each do |info|%>
<tr>
  <%student_data=MgStudent.find_by(:id=>info.mg_student_id)%>
<td class="mg-td-width-half" valign="top">

 
  <%= student_data.admission_number%>
     
    </td>
    <td class="mg-td-width-half" valign="top">

   
  <%= student_data.try(:first_name).to_s.try(:capitalize)%> <%=student_data.try(:last_name).to_s.try(:capitalize)%>
     
    </td>

    <td class="mg-td-width-half" valign="top">

    
  <%= info.try(:marks_obtained)%>
     
    </td>
     
     
 </tr>



 <%end%>

</table>
</div>
<p class="mg-p-mgtop">
       <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"}%>
</p>
<%= render  partial: 'application/common_left_close' %>

<style>
/*.mg-show-tbl-width {
    width: 64% !important; 
}*/
.table.batch-tbl th {
    border-color: #363131;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    text-align: center;
}
</style>

<script>


    $(document).ready(function () {
            focusCurrentTab("examination_marks_sheet_detailsAID","examination_marks_sheet_detailsLiID");

});
</script>