<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 
  0px;">
  <% @subject.each do |f|%>   
    <%= hidden_field_tag "elective_subject_id[]",f.id %>
    <%= hidden_field_tag "elective_weekday_id[]",@weekday_id_list %>
    <%= hidden_field_tag "elective_class_timings_id[]",@mg_class_timings_id %>
    <%= hidden_field_tag "elective_group_id[]",@elective_group_id %>
    <%= hidden_field_tag "elective_subject_type_id[]",@subject_type_id %>

    <%if @subject.length>0%>
      <tr class="mg-timetable-tr-border-nil" style="height: 55px;">
        <td class="mg-timetable-td-padding-nil" style="padding: 0px; border: 0px;">
          <%= f.subject_name %>
        </td>
      </tr>
    <%else%>
       <%= No subject %>
    <%end%>
  <% end %>
</table>

