<!-- Sec --> 
<% navigation_add 'Subject Type', mg_subject_types_path %>
<%=render partial:"subjects/subject_left"%>

<!-- <button class="mg-btn-bottom-margin mg-custom-form-btn" id="newSubjectTypeBtnID">New Subject Type</button> -->
<h4 class="mg-h4"><%=t('subject_type')%></h4>
<% if @subject_types.length > 0 %>
<div class="mg_pagination">
    <table class="batch-tbl mg-tbl-margin" id="subjectTypeTableID">
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('description') %></th>
          <th><%= t('actions') %></th>
        </tr>
       
        <% @subject_types.each do |subject_type| %>
          <tr>
          	<td><%=subject_type.name%></td>
          	<td><%=truncate(subject_type.description.to_s, :length => 25, :separator => ' ')%></td>
          	<td>
          		<button title="Show" class="showSubjectType mg-icon-btn" id="showID-<%= subject_type.id%>"><i class="fa fa-eye"></i></button>
                <button title="Edit" class="editSubjectType mg-icon-btn" id="editID-<%= subject_type.id%>"><i class="fa fa-pencil-square-o"></i></button>
                <%#= link_to "<i class=\"fa fa-trash\"></i>".html_safe, mg_subject_type_path(subject_type),method: :delete,data: { confirm: 'Are you sure to delete?' },:class=>"mg-icon-btn"%>
          	</td>
          </tr>

        <% end %>
    </table><br/>
     <%= will_paginate @subject_types, :container => false %>
    </div>
<% else %>
  <h5>Please create some subject type... </h5>

<% end %>

<div id="newSubjectTypeDialogID" ></div>
<div id="editSubjectTypeDialogID"></div>
<div id="showSubjectTypeDialogID"></div>
<%=render partial:"common_left_close"%>

<script>
$( document ).ready(function() {
    focusCurrentTab("subjectTypeAID","subjectTypeLiID");
    focusSubject();
});
$("#subjectTypeCreateFormID").validate({
        rules: {        
        "subject_type[name]": {required: true},
        "subject_type[description]": {required: true}
      }
    });
</script>
