<%= render  partial: 'inventory_left' %>
<% navigation_add 'Goods Ordered', inventory_inventory_goods_ordered_path %>

<h4 class="mg-h4"><%= "Goods Ordered Report"%></h4>

<table class="mg-tbl-margin mg-show-tbl-width">

<tr>
<td>
     <label class="mg-label" for="from_date"><%= t ('from_date') %><span class="required-field">&nbsp;*</span></label><br/>
     <%=text_field_tag :library_from_dates,nil,:class=>"mg-text-field"%>

</td>
</tr>
<tr>
<td>
     <label class="mg-label" for="to_date"><%= t ('to_date') %><span class="required-field">&nbsp;*</span></label><br/>
     <%=text_field_tag :library_to_dates,nil,:class=>"mg-text-field"%>
</td>
</tr>
    

</table>
 <%=submit_tag 'Generate Report', :class=> "submit  inventory_goods_report_datas mg-small-form-btn mg-custom-labels" %>

 
<div id="library_report_generation_datas">
</div>



<%= render  partial: 'schools/school_left_close' %>
<script>
$(document).ready(function(){
focusCurrentTab("goods_orderedAid","goods_orderedLiID");

       

        //focusMasterSettings();

dateFormatStr =  getJsDateFormat();

$('#library_from_dates').datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-100:+0",maxDate: "0",dateFormat: dateFormatStr});

$('#library_to_dates').datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-100:+0",maxDate: "0",dateFormat: dateFormatStr});

});
$(document).on("click",".inventory_goods_report_datas",function(){
                    

            var from_date=$("#library_from_dates").val();
            var to_date=$("#library_to_dates").val();

            if(from_date==""||to_date=="") {

              alert("Please Enter The data")
            }

              else{
var urlLink="/inventory/inventory_goods_ordered_generation"
$.ajax({
    url:urlLink,
    cache:false,
    data:{"from_date":from_date,"to_date":to_date},
    success: function(html){
        $("#library_report_generation_datas").empty();
        $("#library_report_generation_datas").append(html);



    }

});
}
});

function resourceCategoryId(data){
       $("#library_report_generation_datas").empty();

var urlLink="/library/resource_type_data"

$.ajax({
    url:urlLink,
    cache:false,
    data:{"category_id":data},
    success: function(html){
        $("#resources_types_data").empty();
        $("#resources_types_data").html(html);



    }

});
}


$(document).on("change","#library_from_dates",function(e){
      var end_date=$("#library_to_dates").val();
      if(!(end_date==""))
      {
            var start_date=$(this).val();

     // console.log("Changed dob"); 
     // console.log(new Date(Date.parse(dob,dateFormatStr)).toString());
     // console.log(new Date(Date.parse(admission_date,dateFormatStr)).toString());

     if(getDateObj(start_date,dateFormatStr)>getDateObj(end_date,dateFormatStr)){
        alert("From Date should be less than To Date");
        document.getElementById('library_from_dates').value ="";
      }

      //var temp=$("#fee_schedule_due_date").val();
//       if(!temp=="")
//       {
//       var end_date=$("#fee_schedule_end_date").val();
//       var start_date=$("#fee_schedule_start_date").val();
//       var due_date=$("#fee_schedule_due_date").val();

//      if(!(getDateObj(due_date,dateFormatStr)>=getDateObj(start_date,dateFormatStr)&&getDateObj(due_date,dateFormatStr)<=getDateObj(end_date,dateFormatStr))){
//         alert("Due Date should be between Start Date and End Date");
//         document.getElementById('fee_schedule_start_date').value ="";
//       }
// }
      }
      
   });


    $(document).on("change","#library_to_dates",function(e){
      var start_date=$("#library_from_dates").val();
      if(!(start_date==""))
      {
        var end_date=$(this).val();

     // console.log("Changed dob"); 
     // console.log(new Date(Date.parse(dob,dateFormatStr)).toString());
     // console.log(new Date(Date.parse(admission_date,dateFormatStr)).toString());

     if(getDateObj(start_date,dateFormatStr)>getDateObj(end_date,dateFormatStr)){
        alert(" To Date should be more than From Date");
        document.getElementById('library_to_dates').value ="";
      }
// var temp=$("#fee_schedule_due_date").val();
//       if(!temp=="")
//       {
//       var end_date=$("#fee_schedule_end_date").val();
//       var start_date=$("#fee_schedule_start_date").val();
//       var due_date=$("#fee_schedule_due_date").val();

//      if(!(getDateObj(due_date,dateFormatStr)>=getDateObj(start_date,dateFormatStr)&&getDateObj(due_date,dateFormatStr)<=getDateObj(end_date,dateFormatStr))){
//         alert("Due Date should be between Start Date and End Date");
//         document.getElementById('fee_schedule_end_date').value ="";
//       }
// }
      }
      
   });

    $(document).on("change","#library_report_course",function(){
       $("#library_report_generation_datas").empty();

    });

</script>







