<%= render partial: 'curriculum/curr_left' %>
<% navigation_add t('grading_system'), :controller=>'curriculum' ,:action=> 'grade' %>


<h4 class="mg-h4"><%= t('grading_system_list') %></h4>

<button class="new-add-grading mg-btn-bottom-margin mg-custom-form-btn"><%= t('add_grade')%></button>
<!-- <%#= button_to 'Add Lab Inventory', {:controller => "laboratory", :action => "unit_new" } ,:class=>"mg-custom-form-btn"%> -->
<div class="mg_pagination">
<%if @curriculum_grade.length>0%>
<table  class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
  <tr class="subject-table-header">
    <!-- <th>Subject Id</th> -->
    <th><%= t('grade_name') %></th>
    <th><%= t('description') %></th>
    <th><%= t('actions') %></th>
  </tr>
 
  <% @curriculum_grade.each do |grade| %>
    <tr>
      <td><%= grade.grade_name %></td>
      <td class="mg-desc-text-justify"><%= truncate(grade.description,length: 25) %></td>
      <td>
      	<button title="Show" id="<%=raw grade.id %>-showlabunitBTNID" class="show-curr-grade-btn mg-icon-btn"><i class="fa fa-eye"></i></button>

        <button title="Edit" id="<%=raw grade.id %>-editlabunitBTNID" class="edit-curr-grade-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>

      <!-- <%#= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, {:controller => "laboratory", :action => "unit_edit",:id =>lab.id} , :method=>'post' ,:title=>"Edit" ,:class=>"mg-icon-btn"%> -->
        <button title="Delete" id="<%=raw grade.id %>-editlabinventoryBTNID" class="delete-curr-grade-btn mg-icon-btn"><i class="fa fa-trash"></i></button>

      <!-- <%#= link_to "<i class=\"fa fa-trash\"></i>".html_safe, {:controller => "laboratory", :action => "unit_delete",:id =>lab.id }, :method=>'post' ,:title=>"Delete" ,:class=>"mg-icon-btn",data: { confirm: 'Are you sure to delete?' } %> -->

      </td>

    </tr>
  <% end %>
</table>
<br/>
 <div class="pagination-align" style="position: relative; bottom: 10px;">
              <%= will_paginate @curriculum_grade, :container => false %>
           </div>
<%else%>
<h5>No Grade is created </h5>
<%end%>
</div>
<div id="showCurrGradeDIVID"></div>
<div id="addCurrGradeDIVID"></div>
<div id="editCurrGradeDIVID"></div>



<%= render  partial: 'application/common_left_close' %>

<script>
$( document ).ready(function() {
      focusCurrentTab("view_curriculum_graddingAID","syllabusGradingSystemLiID");
});






$(document).on("click", ".edit-curr-grade-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/curriculum/grade_edit/"+Id[0];
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#editCurrGradeDIVID').dialog({
                    modal: true,
                    minHeight: 'auto',
                    width: '290px',
                    title: "Edit Grade",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});

$(document).on("click", ".show-curr-grade-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/curriculum/grade_show/"+Id[0];
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#showCurrGradeDIVID').dialog({
                    modal: true,
                    minHeight: 'auto',
                    width: 'auto',
                    title: "Show Grade",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});
$(document).on("click", ".new-add-grading", function(e){
        var urlLink = "/curriculum/grade_new";
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#addCurrGradeDIVID').dialog({
                    modal: true,
                    minHeight: 'auto',
                    width: '290px',
                    title: "Add Grade",
                    open: function () {
                        
                        $(this).html(html);
                    }
                });                
            }
        });
});
</script>
<style>
.table-max-width{
  border-color: #363131;
  border-style: solid;
  border-width: 1px;
  padding: 12px !important;
  text-align: center;
}

.table-batch-tbl {
   /* font-family: verdana,arial,sans-serif;*/
    font-size:13px;
    color:#363131;
    border-width: 1px;
    border-color:  #363131;
    border-collapse: collapse;
    padding: 12px ;
    font-size: 0.8em;
    width: 303px !important;
    /* margin-left: 2px; */
}
</style>

