<%@@temp=0%>
<%if @syllabus.present?		
	@syllabus.each do |syllabus|
  
  		@unit=MgSyllabusTracker.where(:mg_employee_id=>@employee[0].id,:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_syllabus_id=>syllabus.id).pluck(:mg_unit_id).uniq

  			if @unit.present?
  				@unit=MgUnit.where("is_deleted=? and mg_school_id=? and id IN (?)",0,session[:current_user_school_id],@unit)
  				
  				@unit.each do |unit|

  					@topic=MgSyllabusTracker.where(:mg_employee_id=>@employee[0].id,:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_syllabus_id=>syllabus.id,:mg_unit_id=>unit.id).pluck(:mg_topic_id).uniq


  					if @topic.present?
  						@topic=MgTopic.where("is_deleted=? and mg_school_id=? and id IN (?)",0,session[:current_user_school_id],@topic)
  						paper=MgSyllabus.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:id=>syllabus.id)
  						chapter=MgUnit.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:id=>unit.id)
						@topic_data=MgTopic.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:id=>@topic[0].id)

  						%>

						<h4 class="mg-h4"><%= paper[0].name%></h4>
						<%=chapter[0].unit_name%>
						<%@@temp=@@temp+1%>

<!-- =============================================================================================== -->

<%#if @topic_data.present?%>

<div class="mg-scroll-employee-bar">
<table border="1" class="mg-showdata-bg mg-homework-tbl" cellspacing="1" cellpadding="1">
<tr>
	
	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('topic_name')%></label>
	</th>

	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('is_project_work')%></label>
	</th>
	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('class_alloted (Theory)')%></label>
	</th>
	
	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('class_taken (Theory)')%></label>
	</th>

	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('class_alloted (Practical)')%></label>
	</th>
	
	<th>
		<label class="mg-label mg-td-width-half" valign="top"> <%= t('class_taken (Practical)')%></label>
	</th>
	
	
	</tr>
	<%
	@topic_data.each do |topic|
	%>
	<tr>
		

		<td class="mg-td-width-half" valign="top">
			<%if topic.topic_name.present?%>
     		<%=topic.try(:topic_name)%><%end%>
		</td>

		<td class="mg-td-width-half" valign="top">
			<%if topic.is_project_work.present?%>
     		<%=(topic.is_project_work) ? "Yes" : "No"%><%end%>
		</td>

		<td class="mg-td-width-half" valign="top">
			<%if topic.time_alloted.present?%>
     		<%=topic.try(:time_alloted)%><%end%>
		</td>


		

		<td class="mg-td-width-half" valign="top">
		<%topic_count=MgSyllabusTracker.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_topic_id=>topic.id).count%>
			<%if topic_count.present?%>
     		<%=topic_count%><%end%>
		</td>


		<td class="mg-td-width-half" valign="top">
			<%if topic.time_alloted_for_practical.present?%>
     		<%=topic.try(:time_alloted_for_practical)%><%end%>
		</td>


		

		<td class="mg-td-width-half" valign="top">
		<%topic_count=MgSyllabusTracker.where(:class_type=>"Practical",:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_topic_id=>topic.id).count%>
			<%if topic_count.present?%>
     		<%=topic_count%><%end%>
		</td>


		
</tr>
	<%end%>
</table>
</div>
<%#end%>

<br/>
<!-- =============================================================================================== -->
  						<%
  					end

  				end
  			end
	end
end%>

<%if @@temp==0%>
<h5>No data to be shown</h5>
	<%end%>