<%= render partial: 'curriculum/curr_left' %>

<!-- =======================================Below Show Part================================== -->

 <h4 class="mg-h4"><%= t('review_curriculum') %></h4>

<table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">

    <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('employee_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
      <%if @curriculum.mg_employee_id.present?%>
      <%employee=MgEmployee.find_by(:id=>@curriculum.mg_employee_id)%>
     <%=employee.try(:first_name)%><%=" "%><%=employee.try(:last_name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>

     <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('academic_year')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
      <%if @curriculum.mg_timetable_id.present?%>
      <%timetable=MgTimeTable.find_by(:id=>@curriculum.mg_timetable_id)%>
     <%=timetable.try(:name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>
   <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('programme_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
      <%if @curriculum.mg_wing_id.present?%>
      <%wing=MgWing.find_by(:id=>@curriculum.mg_wing_id)%>
     <%=wing.try(:wing_name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>
 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('semester_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
      <%if @curriculum.mg_course_id.present?%>
      <%course=MgCourse.find_by(:id=>@curriculum.mg_course_id)%>
     <%=course.try(:course_name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>
 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('subject_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
       <%if @curriculum.mg_subject_id.present?%>
      <%currSubject=MgSubject.find_by(:id=>@curriculum.mg_subject_id)%>
     <%=currSubject.try(:subject_name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>

 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('grade_name')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
       <%if @curriculum.mg_curriculum_grade_id.present?%>
      <%currGrade=MgCurriculumGrade.find_by(:id=>@curriculum.mg_curriculum_grade_id)%>
     <%=currGrade.try(:grade_name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>




 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('paper')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
       <%if @curriculum.mg_syllabus_id.present?%>
      <%currSyll=MgSyllabus.find_by(:id=>@curriculum.mg_syllabus_id)%>
     <%=currSyll.try(:name)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>



 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"> <%= t('status')%></label>
      </td>
      <td class="mg-td-width-half" valign="top">
       <%if @curriculum.status.present?%>
          <%=@curriculum.try(:status)%>
     <%else%>
     <%="No Data"%>
     <%end%>
      </td>
 </tr>
 
</table>
<br/>
<%
particular_unit=MgUnit.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_syllabus_id=>@curriculum.mg_syllabus_id,:mg_employee_id=>@curriculum.mg_employee_id)%>

<%if particular_unit.present?%>
    <%particular_unit.each do |unit|%>
<!-- ====================================Unit Started=============================================== -->
 <h4 class="mg-h4"><%=unit.unit_name%></h4>
                    <%
                    particular_topic=MgTopic.where(:mg_unit_id=>unit.id,:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_syllabus_id=>@curriculum.mg_syllabus_id,:mg_employee_id=>@curriculum.mg_employee_id)%>

                    <%if particular_topic.present?%>
                        
                       
<!-- ============================Topic data Iteration====================================== -->
  <table  class="batch-tbl mg-tbl-margin">   
  <tr class="subject-table-header">
    <th><%= t('topic_name') %></th>
    <th class="mg-label-text-transform-none"><%= t('no_of_lectures(theory)') %></th>
    <th class="mg-label-text-transform-none"><%= t('no_of_lectures(practical)') %></th>
  </tr>
 
 <%particular_topic.each do |topic|%>
  
    <tr>
            <td><%=topic.try(:topic_name)%></td>
            <td><%=topic.try(:time_alloted)%></td>
            <td><%=topic.try(:time_alloted_for_practical)%></td>

    </tr>
  <% end %>
</table>
<!-- ========================================================================================== -->
                        <%else%>
                        <h5>No Topic to show</h5>
                    <%end%>
<!-- ====================================Unit Ended=============================================== -->
    <%end%>
<%end%>







<!-- ========================================Above Show Part=================================-->
 <h4 class="mg-h4"><%= t('status') %></h4>
 <div>
<%= form_for :curriculum, url: review_curriculum_update_path(@curriculum.id), :html => {
                            :id => 'curriculumemployeecurriculumupdateID' }, id: @curriculum.id, method: :patch do |f| %>

<p>
  <label class="mg-label mg-tt-width" style="width:185px"><%= t('select_status') %><span class="required-field">&nbsp;*</span></label>

  <%= f.select :status, options_for_select([[t("Select"), ""], [t("pending"), "Pending"], [t("approved"), "approved"], [t("rejected"), "rejected"]],:selected => @curriculum.status) %>
</p>



<p>
  <label class="mg-label mg-tt-width" style="width:185px"><%= t('comments') %><span class="required-field">&nbsp;*</span></label>

  <%= f.text_area :comments, :class=>"mg-text-field" %>
</p>


  <p>
    <%#= f.submit t('save'),:class=>"curriculum-managements-form-btn mg-small-form-btn" %>
    <a onclick="$(this).closest('form').submit()" class="curriculum-managements-form-btn mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), :back, {:class=>"btn btn-delete cancel-form-dialog"} %>
  </p>
<% end %>
</div>
<%= render partial: 'application/emp_section_close' %>

<script>
$(document).ready(function () {
focusCurrentTab("viewEmployeeDeanCurriculum","viewDeanEmployeecurriculumLiID");

        //focusCurriculum();

$("#curriculumemployeecurriculumupdateID").validate({

rules: {
"curriculum[status]": {required: true},
"curriculum[comments]": {required: true}
}
});
});

</script>

<!-- Partial Section close-->

